<div class="container-fluid">

    <button type="button" class="btn btn-outline-dark mt-2 mb-2" routerLink="/clientes/cadastrar">Novo</button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Setor</th>
            <th scope="col">Problema</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets">
            <th scope="row">{{ticket.id}}</th>
            <td>{{ticket.name}}</td>
            <td>{{ticket.sector}}</td>
            <td>{{ticket.problem}}</td>
            <td>{{ticket.status}}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" (click)="abrirModalTicket(ticket)">
                    Detalhes
                </button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>